body {
    font-family: Verdana, "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.danie {
    cursor: pointer;
    text-decoration: underline;
    color: #5555bb;
    font-weight: bold;
    line-height: 1.3em;
}

dt {
    font-weight: bold;
    font-size: 18px;
}

#menu {
    width: 500px;
    float: left;
    margin: 0 20px;
}

#podsumowanie,
#shoutbox {
    margin: 0 20px;
}

#zamowienia,
#wszystkie-zamowienia,
#podsumowanie,
#shoutbox {
    width: 500px;
    padding: 0;
    float: left;
}

#zamowienia textarea {
    width: 95%;
    height: 70px;
}

#lista-zamowien li,
#podsumowanie li {
    margin-bottom: 10px;
}

meter {
    width: 450px;
    margin: 20px;
}

meter:after {
    width: 200px;
    float: left;
    display: block;
    content: attr(value) " zł, wymagane " attr(optimum) " zł";
}

label.done .cena {
    text-decoration: line-through;
}

label .zaplacone {
    display: none;
}

label.done .zaplacone {
    display: initial;
}

.zamowienieKomentarz {
    font-style: italic;
    margin: 5px 0;
}

.zamowienieDane {
    float: left;
    width: 430px;
}

.zamowienieEdycja {
    float: right;
    cursor: pointer;
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
}

#wszystkie-zamowienia li label {
    display: block;
}

#wszystkie-zamowienia .zamowienieEdycja:hover {
    background-color: #eee;
}

#wszystkie-zamowienia li {
    clear: both;
    border-bottom: 1px dotted black;
    list-style: none;
    padding-bottom: 10px;
}

#wszystkie-zamowienia li:last-of-type {
    border-bottom: none;
}

#wszystkie-zamowienia li:after {
    content: "";
    display: block;
    clear: both;
}

#shoutboxMessages {
    border: 1px dotted black;
    padding: 5px 0;
    height: 200px;
    overflow-y: scroll;
}

.shoutboxMessage:nth-child(odd) {
    background-color: #efefef;
}

#shoutbox label {
    width: 100%;
    display: block;
    text-align: right
}

#shoutbox input[type="text"] {
    width: 390px;
}

#shoutbox .submit {
    width: 100%;
    display: block;
    text-align: center;
}

#shoutbox input[type="submit"] {
    text-transform: uppercase;
    padding: 0 30px;
}

#shoutbox .wiadomosc {
    font-weight: bold;
}

#shoutbox .imienazwisko,
#shoutbox .imienazwisko input {
    font-size: 10px;
}

@media print {
    #menu,
    #formularz {
        display: none;
    }
}

#pychopay {
    width: 100%;
    clear: both;
    background: lavender;
    text-align: center;
}

#pychopay table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

#pychopay table td {
    border: 1px solid darkslategray;
}

#pychopay input[data-payment] {
    display: none;
}

#pychopay input[data-payment] + label::after {
    content: '\2718';
    width: 100%;
    height: 100%;
    display: block;
}

#pychopay input[data-payment]:checked + label::after {
    content: '\2714';
    background: lightgreen;
}

div#top-bar {
    display: inline-block;
    width: 100%;
}

#top-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px grey;
}

#top-bar li {
    display: inline;
    width: auto;
    float: left;
    margin: 0px 5px 0px 5px;
}
